@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*!Обнуление*/
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*!---------0-----------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

[class*=__container] {
  max-width: 0;
  margin: 0 auto;
  padding: 0 0;
  
}
body {
  background-color: #ffffff;
}

body.change {
  background-color: black;
}

.main-block {
  max-width: 50%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.main-block__hex-block {
  flex: 0 1 100%;
  background-color: rgb(3, 3, 31);
  min-height: 55px;
  font-size: 50px;
  padding: 15px 0px;
  border-radius: 10px;
}
.hex-block {
}
.hex-block__text {
}
span.hex-code {
  color: rgb(73, 73, 230);
}
.hex-code span{
  
}
.main-block__btn {
  border: 3px solid rgb(3, 3, 31);
  background-color: white;
  
}
.main-block__btn:hover {
  
  background-color: rgb(3, 3, 31);
  color: white;
}
.btn {
  display: inline-block;
  font-size: 20px;
  line-height: 50px;
  height: 56px;
  padding: 0px 10px;
  border-radius: 10px;
}

@media  (max-width:669px){
  .main-block__hex-block {
    font-size: 25px;
  }
  .btn {
    font-size: 10px;
  }
}